<h1>Lista de contactos</h1>
<p><%= link_to("Añadir contacto", {:controller => 'contact', :action => 'new'}, data: { turbolinks: false } , :class => "btn btn-success" ) %></p>

<table class="table table-hover table-dark table-sm" border="1" summary="Contact List">
 <thead class="thead-dark">
  <tr class="header">
    <th  scope="col">
      Nombre
    </th>      
    <th scope="col">
      Apellidos
    </th>
    <th scope="col">
      Calle
    </th>
    <th scope="col">
      Poblacion
    </th>    
    <th scope="col">
      Provincia
    </th>
    <th scope="col">
      Pais
    </th>
    
    <th scope="col">
      Acciones
    </th>
  </tr>
 </thead>
  <% @contact.each do |t| %>
  <thead class="thead-light"> 
  <tr>

    <td>
      <%= t.nombre %>
      </td>
    <td>
      <%= t.apellidos %>
    </td>    
     <td>
      <%= t.calle %>
    </td>     
    <td>
      <%= t.poblacion %>
    </td>      
     <td>
      <%= t.provincia %>
    </td>
     <td>
      <%= t.pais %>
    </td>

    <td>
      <%= link_to("Detalles", {:action => 'show', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-primary") %>
      <%= link_to("Editar", {:action => 'edit', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-primary") %>
     
      <%= link_to("Borrar", {:action => 'delete', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-danger",  confirmation: 'Are you sure?') %>
    <%-#  link_to("Borrar", {:action => 'delete', :id => t.id}, data: { confirm: "Eliminar Item?" }, :class => "btn btn-primary")  -%>
 

    </td>
  </tr>
  </thead>
  <% end %>
</table>

