<h1>Lista de contactos</h1>
<p><%= link_to("Añadir contacto", {:controller => 'contact', :action => 'new'}, data: { turbolinks: false } , :class => "btn btn-success" ) %></p>

<table class="table table-dark" border="1" summary="Contact List">
 <thead class="thead-dark">
  <tr class="header">
    <th>
      Nombre
    </th>      
    <th>
      Apellidos
    </th>
    <th>
      Calle
    </th>
    <th>
      Poblacion
    </th>    
    <th>
      Provincia
    </th>
    <th>
      Pais
    </th>
    
    <th>
      Acciones
    </th>
  </tr>
 </thead>
  <% @contact.each do |t| %>
 <thead class="thead-light">
  <tr>
  <th scope="col"><%= t.nombre %></th>
  <th scope="col"><%= t.apellidos %></th>
  <th scope="col"><%= t.calle %></th>
  <th scope="col"><%= t.poblacion %></th>
  <th scope="col"><%= t.provincia %></th>
  <th scope="col"><%= t.pais %></th> 
  <th scope="col">     
      <%= link_to("Detalles", {:action => 'show', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-primary") %>
      <%= link_to("Editar", {:action => 'edit', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-primary") %>
     
      <%= link_to("Borrar", {:action => 'delete', :id => t.id}, data: { turbolinks: false }, :class => "btn btn-danger",  confirmation: 'Are you sure?') %>
  </th>
  </tr>
  </thead>
  <% end %>
</table>